extends _layout.pug

block locals
    - var title = "Hello pug!"

block content
    div.content
        div.footer
        h1.title-lg Hello pug!
        img(src="../images/icon.png", alt="")
        img(src="../images/thumbnail.jpg", alt="")

